---
import type { CollectionEntry } from "astro:content";

interface Props {
  tag: CollectionEntry<"tags">;
}

const { tag } = Astro.props;
---

<span
  class="rounded-md bg-white px-2 py-1 text-xs font-medium text-white"
  style={{ backgroundColor: tag.data.color }}
>
  {tag.data.name}
</span>
