html {
  font-family: sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 636px) {
}
