---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Blog";

const posts = await getCollection("posts");
console.log({ posts });
---

<BaseLayout title={title}>
  <div class="homepage">
    <div>
      <h1 class="text-5xl font-bold">Content Collection Overview</h1>
    </div>
    <div class="post-wrapper">
      <h2 class="font-bold text-3xl">Posts</h2>
      <div>
        {posts.map((post) => post.data.title)}
      </div>
    </div>
  </div>
</BaseLayout>
