---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout title="Astro">
  <h2 class="pt-10 text-6xl text-center font-bold">My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
