<div class="relative flex w-full items-center justify-start">
  <input
    class="w-full transform rounded-md border border-gray-300 bg-white px-4 py-2 text-left text-sm leading-none text-gray-900 placeholder-gray-500 outline-none transition duration-200 ease-in-out hover:border-blue-300 focus:border-blue-500 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 dark:placeholder-gray-400 dark:hover:border-gray-500 dark:focus:border-blue-400"
    type="text"
    placeholder="Search..."
  />

  <svg
    class="absolute right-3 z-10 cursor-pointer text-gray-800 transition duration-200 ease-in-out hover:text-blue-500 dark:text-gray-400 dark:hover:text-gray-300"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
    ></path>
  </svg>
</div>
