---
const { type } = Astro.props;
console.log({ type });
---

<div
  id="grid-layout"
  class="container mx-auto grid gap-8 pt-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  <slot />
</div>
