---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose/Prose.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="mx-auto w-full max-w-3xl">
    <slot name="header" />
    <Prose>
      <slot name="content" />
    </Prose>
  </div>
</BaseLayout>
